---
import { version } from "package.json";
import Cloud from "components/icons/Cloud.astro";
import Beaker from "components/icons/Beaker.astro";
import SquareStack from "components/icons/Square3Stack3D.astro";
import GitHub from "components/icons/GitHub.astro";

const API_URL = import.meta.env.PUBLIC_API_URL;
const VERCEL_ENV = import.meta.env.VERCEL_ENV ?? "development";
---

<footer
  class="border-t border-neutral-300 bg-neutral-200 p-8 dark:border-neutral-700 dark:bg-neutral-800"
  transition:name="footer"
>
  <div
    class="mx-auto flex max-w-screen-xl flex-col gap-4 sm:flex-row sm:flex-wrap sm:gap-8"
  >
    <span class="text-nowrap">
      Built by
      <a
        href="https://github.com/atlanswer"
        target="_blank"
        rel="noopener"
        class="font-medium underline underline-offset-4"
      >
        @atlanswer
      </a>
    </span>
    <a
      href="https://status.atlanswer.com"
      target="_blank"
      rel="noopener"
      class="flex place-items-center gap-1"
    >
      <Cloud />
      <span class="underline underline-offset-4">Status ↗</span>
    </a>
    <a
      href={VERCEL_ENV === "production" ?
        "https://dev.antcal.atlanswer.com"
      : "https://antcal.atlanswer.com"}
      class="flex place-items-center gap-1"
    >
      {VERCEL_ENV === "production" ? <Beaker /> : <SquareStack />}
      <span class="underline underline-offset-4">
        {VERCEL_ENV === "production" ? "Dev Build" : "Production Build"}
      </span>
    </a>
    <code class="text-nowrap">API: {API_URL}</code>
    <span class="flex place-items-center gap-1.5 sm:ml-auto">
      <span>v{version}</span>
      <a
        href="https://github.com/atlanswer/figure"
        target="_blank"
        rel="noopener"
        class="flex place-items-center gap-1.5"
      >
        <GitHub />
        <span class="underline underline-offset-4">Source ↗</span>
      </a>
    </span>
  </div>
</footer>
