---
import { version } from "package.json";
import IconStatus from "~/components/icons/IconStatus.astro";
import IconTime from "~/components/icons/IconTime.astro";
import IconGitHub from "~/components/icons/IconGitHub.astro";
---

<footer
  class="border-t border-neutral-300 bg-neutral-200 p-8 text-black dark:border-neutral-700 dark:bg-neutral-800 dark:text-white"
>
  <div class="mx-auto flex max-w-screen-xl flex-col gap-4 sm:flex-row sm:gap-8">
    <span>
      Built by
      <span> </span>
      <a
        href="https://github.com/atlanswer"
        target="_blank"
        class="font-medium underline underline-offset-4"
      >
        @atlanswer
      </a>
    </span>
    <a
      href="https://status.atlanswer.com"
      target="_blank"
      class="flex place-items-center gap-1"
    >
      <IconStatus />
      <span class="underline underline-offset-4">Status</span>
    </a>
    <span class="flex place-items-center gap-1">
      <IconTime />
      <span>{} ms</span>
    </span>
    <span class="flex place-items-center gap-1.5 sm:ml-auto">
      <span>v{version}</span>
      <a
        href="https://github.com/atlanswer/figure"
        target="_blank"
        class="flex place-items-center gap-1.5"
      >
        <IconGitHub />
        <span class="underline underline-offset-4">Source</span>
      </a>
    </span>
  </div>
</footer>
