---
import Navigation from "~/components/Navigation.astro";
import ThemeToggle from "~/components/ThemeToggle.astro";
---

<header
  class="sticky top-0 place-content-center bg-white px-8 text-black shadow dark:border-neutral-900 dark:bg-black dark:text-white"
>
  <div
    class="mx-auto flex max-w-screen-xl place-content-between place-items-center gap-8"
  >
    <span class="hidden w-8 sm:inline"></span>
    <Navigation />
    <ThemeToggle />
  </div>
</header>
