---
import Navigation from "components/Navigation.astro";
import ThemeToggle from "components/ThemeToggle";
---

<header
  class="sticky top-0 z-1 border-b border-neutral-300 bg-white px-8 dark:border-neutral-700 dark:bg-black"
  transition:name="header"
>
  <div
    class="mx-auto flex max-w-screen-xl place-content-between place-items-center gap-8"
  >
    <span class="hidden w-8 md:inline"></span>
    <Navigation />
    <ThemeToggle client:only="solid-js" />
  </div>
</header>
