---
const pathname = Astro.url.pathname;

const pages: { name: string; href: string }[] = [
  { name: "Field", href: "/field" },
  { name: "RP", href: "/pattern" },
  // { name: "Report", href: "/report" },
  { name: "Docs", href: "/docs" },
  { name: "About", href: "/about" },
] as const;
---

<nav class="flex flex-1 leading-loose font-semibold sm:place-content-center">
  <span class="grid auto-cols-fr grid-flow-col gap-2 sm:gap-6">
    {
      pages.map((page) => (
        <a
          href={page.href}
          class="border-b-4 border-transparent px-2 pt-4 pb-3 text-center not-[&.active]:hover:border-neutral-300 focus-visible:ring focus-visible:outline-none not-[&.active]:dark:hover:border-neutral-700 [&.active]:border-sky-500"
          class:list={[{ active: page.href === pathname }]}
        >
          {page.name}
        </a>
      ))
    }
  </span>
</nav>
