---
const pathname = Astro.url.pathname;

const pages: { title: string; path: string }[] = [
  { title: "Field", path: "/field" },
  { title: "Pattern", path: "/pattern" },
  // { name: "Report", href: "/report" },
  { title: "Docs", path: "/docs" },
  { title: "About", path: "/about" },
] as const;
---

<nav class="flex flex-1 leading-loose font-semibold sm:place-content-center">
  <span class="grid auto-cols-fr grid-flow-col gap-2 sm:gap-6">
    {
      pages.map((page) => (
        <a
          href={page.path}
          class="border-b-4 border-transparent px-2 pt-4 pb-3 text-center not-[&.active]:hover:border-neutral-300 focus-visible:ring focus-visible:outline-none not-[&.active]:dark:hover:border-neutral-700 [&.active]:border-sky-500"
          class:list={[{ active: pathname.startsWith(page.path) }]}
        >
          {page.title}
        </a>
      ))
    }
  </span>
</nav>
