# https://help.github.com/articles/ignoring-files

# Node
node_modules

# Env
.venv
.env*.local

# Build
build
dist
.astro
.vinxi
.vercel

# Python
__pycache__
.ruff_cache
typings
*.egg-info

# PyPi
.pypirc

# autodoc2
apidocs

# log
*.log*

# Turbo
.turbo
