# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node
node_modules

# Env
.venv
.env*.local

# Build
build
dist

# Python
__pycache__
.ruff_cache
typings

# PyPi
.pypirc

# autodoc2
apidocs

# log
*.log*

# Turbo
.turbo
