# https://help.github.com/articles/ignoring-files

# Node
node_modules

# Env
.env*.local

# Build
build
dist
.vinxi
.vercel

# Generated types
.astro/

# Python
.venv
__pycache__
.ruff_cache
typings
*.egg-info

# PyPi
.pypirc

# autodoc2
apidocs

# log
*.log*

# Turbo
.turbo
