**/*.log
.history
.yarn
dist
dist-dev
lib
lib-types
etc
external
node_modules
temp
tsc-out
tsdoc-metadata.json
target
output
rollup.config.js
build
.cache
.rollup.cache
dist
tsconfig.tsbuildinfo
*.spec.tsx
*.spec.ts
.netlify
pnpm-lock.yaml
package-lock.json
conda-lock.yml
yarn.lock
.next
.turbo
.vinxi
