[requires]
python_version = "3.12"

[packages]
fastapi = ">=0.111"
# numpy = "*"
# matplotlib = "*"
# pandas = "*"
# openpyxl = "*"

[dev-packages]
ipython = "*"
ipykernel = "*"
ruff = "*"

[scripts]
dev = "fastapi dev api/index.py"
