[requires]
python_version = "3.12"

[packages]
sanic = { extras = ["ext"], version = "*" }
setuptools = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]
ipython = "*"
ipykernel = "*"
ruff = "*"

[scripts]
dev = "sanic api.index:app --debug"
