---
import BaseLayout from "~/layouts/Base.astro";

const { pathname } = Astro.url;
---

<BaseLayout title="Page Not Found">
  <article
    class="prose dark:prose-invert flex h-full max-w-none flex-col place-content-center place-items-center"
  >
    <p>You are visiting <code>{pathname}</code>.</p>
    <p>
      404 - Not Found.&nbsp;
      <a
        href="/"
        class="underline underline-offset-4 transition-[text-underline-offset] hover:underline-offset-8"
        >Back home</a
      >
    </p>
  </article>
</BaseLayout>
