---
import BaseLayout from "layouts/Base.astro";

const { pathname } = Astro.url;
---

<BaseLayout title="Page Not Found">
  <article class="mx-auto my-48 prose text-center dark:prose-invert">
    <p>
      You are visiting the page <code>{pathname}</code> which does not exist.
    </p>
    <a href="/" class="underline underline-offset-4">Back home</a>
  </article>
</BaseLayout>
