---
import BaseLayout from "layouts/Base.astro";

const { pathname } = Astro.url;
---

<BaseLayout title="Page Not Found">
  <article
    class="prose dark:prose-invert mx-auto my-48 flex flex-col items-center"
  >
    <p>
      You are visiting the page <code>{pathname}</code> which does not exist.
    </p>
    <a href="/" class="underline underline-offset-4">Back home</a>
  </article>
</BaseLayout>
