---
import BaseLayout from "layouts/Base.astro";
---

<BaseLayout>
  <div class="flex flex-col gap-8 p-8">
    <svg id="demo" width="3.5in" height="3.5in"></svg>
    <script>
      import * as d3 from "d3";
      import * as d3d from "d3-3d";

      const points3d = d3d.points3D();

      const points: d3d.Point3DInput[] = [
        { x: 0, y: 0, z: 0 },
        { x: 1, y: 0, z: 0 },
        { x: 0, y: 1, z: 0 },
        { x: 0, y: 0, z: 1 },
      ];

      function draw() {
        const { width, height } = document
          .getElementById("demo")!
          .getBoundingClientRect();

        const svg = d3.select("#demo");

        svg
          .append("rect")
          .attr("x", 0)
          .attr("y", 0)
          .attr("width", "100%")
          .attr("height", "100%")
          .attr("stroke", "skyblue")
          .attr("stroke-width", 2)
          .attr("rx", 6)
          .attr("ry", 6);

        svg
          .append("g")
          .selectAll("circle")
          .data(
            points3d.origin({ x: width / 2, y: height / 2 }).scale(10)(points),
          )
          .join("circle")
          .attr("cx", (d) => d.projected.x)
          .attr("cy", (d) => d.projected.y)
          .attr("r", 2)
          .attr("fill", "white");
      }

      document.addEventListener("astro:page-load", draw);
    </script>

    <div
      style="background-image: linear-gradient(
        90deg,
        var(--color-rainbow-0) 0.0%,
        var(--color-rainbow-1) 3.448%,
        var(--color-rainbow-2) 6.896%,
        var(--color-rainbow-3) 10.344%,
        var(--color-rainbow-4) 13.793%,
        var(--color-rainbow-5) 17.241%,
        var(--color-rainbow-6) 20.689%,
        var(--color-rainbow-7) 24.137%,
        var(--color-rainbow-8) 27.586%,
        var(--color-rainbow-9) 31.034%,
        var(--color-rainbow-10) 34.482%,
        var(--color-rainbow-11) 37.931%,
        var(--color-rainbow-12) 41.379%,
        var(--color-rainbow-13) 44.827%,
        var(--color-rainbow-14) 48.275%,
        var(--color-rainbow-15) 51.724%,
        var(--color-rainbow-16) 55.172%,
        var(--color-rainbow-17) 58.62%,
        var(--color-rainbow-18) 62.068%,
        var(--color-rainbow-19) 65.517%,
        var(--color-rainbow-20) 68.965%,
        var(--color-rainbow-21) 72.413%,
        var(--color-rainbow-22) 75.862%,
        var(--color-rainbow-23) 79.31%,
        var(--color-rainbow-24) 82.758%,
        var(--color-rainbow-25) 86.206%,
        var(--color-rainbow-26) 89.655%,
        var(--color-rainbow-27) 93.103%,
        var(--color-rainbow-28) 96.551%,
        var(--color-rainbow-29) 100.0%
      );"
    >
      <p>Mathematica Rainbow</p>
    </div>
  </div>
</BaseLayout>
