---
import BaseLayout from "layouts/Base.astro";

import DemoColorScheme from "components/d3/DemoColorScheme";
import FieldPlot from "src/components/field/FieldPlot";
---

<BaseLayout>
  <div class="flex flex-col items-center gap-8 p-8">
    {
      import.meta.env.VERCEL_ENV !== "production" && (
        <DemoColorScheme client:only="solid-js" />
      )
    }

    <FieldPlot client:only="solid-js" />

    <div
      class="w-full"
      style="background-image: linear-gradient(
        90deg,
        var(--color-rainbow-0) 0.0%,
        var(--color-rainbow-1) 3.448%,
        var(--color-rainbow-2) 6.896%,
        var(--color-rainbow-3) 10.344%,
        var(--color-rainbow-4) 13.793%,
        var(--color-rainbow-5) 17.241%,
        var(--color-rainbow-6) 20.689%,
        var(--color-rainbow-7) 24.137%,
        var(--color-rainbow-8) 27.586%,
        var(--color-rainbow-9) 31.034%,
        var(--color-rainbow-10) 34.482%,
        var(--color-rainbow-11) 37.931%,
        var(--color-rainbow-12) 41.379%,
        var(--color-rainbow-13) 44.827%,
        var(--color-rainbow-14) 48.275%,
        var(--color-rainbow-15) 51.724%,
        var(--color-rainbow-16) 55.172%,
        var(--color-rainbow-17) 58.62%,
        var(--color-rainbow-18) 62.068%,
        var(--color-rainbow-19) 65.517%,
        var(--color-rainbow-20) 68.965%,
        var(--color-rainbow-21) 72.413%,
        var(--color-rainbow-22) 75.862%,
        var(--color-rainbow-23) 79.31%,
        var(--color-rainbow-24) 82.758%,
        var(--color-rainbow-25) 86.206%,
        var(--color-rainbow-26) 89.655%,
        var(--color-rainbow-27) 93.103%,
        var(--color-rainbow-28) 96.551%,
        var(--color-rainbow-29) 100.0%
      );"
    >
      <p class="text-white">Mathematica Rainbow</p>
    </div>
  </div>
</BaseLayout>
