---
import Navigation from "~/components/Navigation.astro";
import ThemeToggle from "~/components/ThemeToggle";
---

<header
  class="fixed top-0 z-10 w-full border-b border-neutral-300 bg-white/20 px-8 backdrop-blur-md dark:border-neutral-700 dark:bg-black/20"
  transition:name="header"
>
  <div
    class="mx-auto flex max-w-7xl place-content-between place-items-center gap-8"
  >
    <span class="hidden w-8 md:inline"></span>
    <Navigation />
    <ThemeToggle client:only="solid-js" />
  </div>
</header>
