---
interface Props {
  title: string;
  children: any;
}

const { title } = Astro.props;

import { Font } from "astro:assets";
import "~/styles/global.css";

import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
---

<!doctype html>
<html lang="en-us" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} | AntCal</title>
    <meta name="description" content="Create publication quality figures." />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000000"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/ios/1024.png" />
    <link
      rel="manifest"
      type="application/manifest+json"
      href="/app.webmanifest"
    />
    <Font cssVariable="--font-geist-sans" preload />
    <Font cssVariable="--font-geist-mono" />
  </head>
  <body
    class="flex min-h-full min-w-64 flex-col font-sans antialiased motion-reduce:transition-none"
  >
    <noscript>AntCal: You need to enable JavaScript to run this app.</noscript>
    <Header />
    <main class="flex-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @reference "~/styles/global.css"

  .math-display {
    overflow: auto;
  }

  * {
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
    @apply transition-colors;
  }

  main {
    background: radial-gradient(circle, #d6d3d1 0.1rem, #f5f5f4 0.1rem) top
      left / 2rem 2rem;
  }

  .dark main {
    background: radial-gradient(circle, #292524 0.1rem, #000000 0.1rem) top
      left / 2rem 2rem;
  }
</style>
