[packages]
antcal = { path = ".", editable = true }
pyaedt = "*"
pyvista = "*"
numpy = "*"
rich = "*"

[dev-packages]
flit = "*"
ruff = "*"
ipython = "*"
ipykernel = "*"

[requires]
python_version = "3.12"

[scripts]
dev = "sphinx-autobuild docs docs/build --watch src --ignore docs/apidocs -j auto -n"
build = "sphinx-build docs docs/build -j auto -n"
