---
interface Props {
  title?: string;
  children: any;
}

let { title } = Astro.props;

import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";

import "styles/global.css";

import Header from "components/Header.astro";
import Footer from "components/Footer.astro";

if (title === undefined) {
  const path = Astro.url.pathname.split("/").pop() ?? "";
  title = path.charAt(0).toUpperCase() + path.slice(1);
}
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} | AntCal</title>
    <meta name="description" content="Create publication quality figures." />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000000"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/ios/1024.png" />
    <link
      rel="manifest"
      type="application/manifest+json"
      href="/app.webmanifest"
    />
    <Font cssVariable="--font-geist-sans" preload />
    <Font cssVariable="--font-geist-mono" />
    <script is:inline>
      function syncTheme() {
        switch (localStorage.getItem("theme")) {
          case "dark":
            document.documentElement.classList.add("dark");
            break;
          case "light":
            document.documentElement.classList.remove("dark");
            break;
          default:
            if (globalThis.matchMedia("(prefers-color-scheme: dark)").matches) {
              document.documentElement.classList.add("dark");
            } else {
              document.documentElement.classList.remove("dark");
            }
            localStorage.setItem("theme", "system");
        }
      }
      syncTheme();
      document.addEventListener("astro:after-swap", syncTheme);
    </script>
    <Analytics />
    <ClientRouter />
    <slot name="head-extra" />
  </head>
  <body
    class="flex min-h-screen min-w-64 flex-col font-sans text-black subpixel-antialiased dark:text-white"
  >
    <noscript>AntCal: You need to enable JavaScript to run this app.</noscript>
    <Header />
    <main class="flex-1" transition:name="main" transition:animate="slide">
      <slot />
    </main>
    <Footer />
    <SpeedInsights />
  </body>
</html>
