@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility button {
  @apply cursor-pointer;
  @apply rounded;
  @apply px-3;
  @apply py-1;
  @apply text-white;
  @apply font-semibold;
  @apply bg-sky-500;
  @apply hover:bg-sky-700;
}

@layer base {
  * {
    @apply transition-colors;
  }

  html {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }

  main {
    background: radial-gradient(circle, #d6d3d1 0.1rem, #f5f5f4 0.1rem) top
      left / 2rem 2rem;
  }

  .dark main {
    background: radial-gradient(circle, #292524 0.1rem, #000000 0.1rem) top
      left / 2rem 2rem;
  }

  .katex-display {
    overflow: auto hidden;
  }
  .katex-display > .katex {
    white-space: normal;
  }
  /* Add space between broken lines: */
  .katex-display > .base {
    margin: 0.25em 0;
  }
  /* Compensate by reducing space around display math */
  .katex-display {
    margin: 0.5em 0;
  }
}

:root {
  /** Mathematica rainbow colorscheme */
  --color-rainbow-0: #781b86;
  --color-rainbow-1: #641c97;
  --color-rainbow-2: #4e21ac;
  --color-rainbow-3: #462eba;
  --color-rainbow-4: #3f40c6;
  --color-rainbow-5: #3e52cd;
  --color-rainbow-6: #4066cf;
  --color-rainbow-7: #4377cd;
  --color-rainbow-8: #4886c7;
  --color-rainbow-9: #4d94bd;
  --color-rainbow-10: #559eb1;
  --color-rainbow-11: #5da8a3;
  --color-rainbow-12: #67ae95;
  --color-rainbow-13: #72b585;
  --color-rainbow-14: #7cb878;
  --color-rainbow-15: #8bbb6a;
  --color-rainbow-16: #96bd60;
  --color-rainbow-17: #a5be55;
  --color-rainbow-18: #b2be4d;
  --color-rainbow-19: #c0bb47;
  --color-rainbow-20: #ccb842;
  --color-rainbow-21: #d6b03e;
  --color-rainbow-22: #dea83b;
  --color-rainbow-23: #e39b39;
  --color-rainbow-24: #e68b35;
  --color-rainbow-25: #e77a32;
  --color-rainbow-26: #e4632d;
  --color-rainbow-27: #e14e2a;
  --color-rainbow-28: #de3525;
  --color-rainbow-29: #db2121;
}

:root.dark {
  /** Mathematica dark rainbow colorscheme */
  --color-rainbow-0: #3c5793;
  --color-rainbow-1: #3e5791;
  --color-rainbow-2: #3f5790;
  --color-rainbow-3: #40588e;
  --color-rainbow-4: #425f7e;
  --color-rainbow-5: #42666f;
  --color-rainbow-6: #446d60;
  --color-rainbow-7: #467156;
  --color-rainbow-8: #48764d;
  --color-rainbow-9: #4d7c44;
  --color-rainbow-10: #588342;
  --color-rainbow-11: #648a3f;
  --color-rainbow-12: #70923e;
  --color-rainbow-13: #859d40;
  --color-rainbow-14: #95a642;
  --color-rainbow-15: #a9b145;
  --color-rainbow-16: #b8b848;
  --color-rainbow-17: #cac14c;
  --color-rainbow-18: #d3c24e;
  --color-rainbow-19: #d9be51;
  --color-rainbow-20: #dfbc53;
  --color-rainbow-21: #dcad51;
  --color-rainbow-22: #d69a50;
  --color-rainbow-23: #d1884e;
  --color-rainbow-24: #c96f48;
  --color-rainbow-25: #c25741;
  --color-rainbow-26: #ba3d3b;
  --color-rainbow-27: #ba3d3b;
  --color-rainbow-28: #ba3d3b;
  --color-rainbow-29: #ba3d3b;
}
