@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.katex-display {
  overflow: auto hidden;
}
.katex-display > .katex {
  white-space: normal;
}
/* Add space between broken lines: */
.katex-display > .base {
  margin: 0.25em 0;
}
/* Compensate by reducing space around display math */
.katex-display {
  margin: 0.5em 0;
}
